@model UpdateContactDto
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İletişim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">İletişim Ekle</div>
						</div>
						<input type="hidden" asp-for="ContactId" />
						<div class="card-body">
							<div class="form-group">
								<label for="contactPhone">Telefon</label>
								<input type="tel" class="form-control" asp-for="ContactPhone" id="contactPhone">
							</div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="contactLocation">Konum</label>
								<input type="text" class="form-control" asp-for="ContactLocation" id="contactLocation">
							</div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="contactEmail">Email</label>
								<input type="email" class="form-control" asp-for="ContactEmail" id="contactEmail">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


